{% extends '_layouts/in_app.html.twig' %}

{% block title %}Hello ListController!{% endblock %}

{% block content %}
    <h1>Liste des portefeuilles</h1>

    <ul>
        {% for wallet in wallets %}
            <a href="{{ path('wallets_show', {'id': wallet.id}) }}">{{ wallet.label }}, {{ wallet.totalAmount }}</a>
        {% endfor %}
    </ul>
{% endblock %}
